<link rel="stylesheet" type="text/css" href="css/about.css" />
<div class="about">
  <div class="about-page">
    <div class="line-1">
      <section id="about-me">
      <h1>About Me</h1>
      <p>Where to start? I am 21 years old and currently working for my Computer Science M.S. degree at Harbin Institute of Technology (HIT), and work as a member of Machine Intelligence & Translation Laboratory of HIT.<br />I am also a student of jointly education Ph.D. of Microsoft Research Asia and HIT. I received B.S. degrees in 2012 from the School of Computer Science and Technology, HIT.<br />My main research interests are Information retrieval, data mining and machine learning.</p>
      </section>
      <div class="info">
        <div class="self_photo"></div>
      </div>
    </div>
    <div class="line-2">
      <section id="about-site" >
      <h1>About This Site</h1>
      <p>I spent my part-time in developing Elvenhut with halfelf since Jul. 2012. After the first stable version 1.0 release, I think it is time to drop my bloat Wordpress blog site and build a simple, beautiful and sexy ElvenHut blogging demo site. I used five days developing a wordpress article import feature for ElvenHut and rewriting the default ElvenHut layout. Now, here is the newborn asiteof.me. The logo eh... Steins;Gate is my favirite anime.</p>
      <p>ElvenHut is an easy to use blogging platform for people who love Markdown and want a clean web-based interface for creating those posts without sacrificing functionality. The core function is developed based on <a href="http://www.sinatrarb.com/intro">Sinatra</a> which is a DSL for quickly creating web applications in Ruby with minimal effort. By the way, HTML5 and CSS3 magic is widely used in layout design, evil and old browsers not supported.</p>
      <p>
      <p>ElvenHut covets your ideas, your wishes, and your mad Ruby skills. We'd love to see some sweet design going on too.<br />Go now. <a href="https://github.com/halfelf/ElvenHut/tree/develop">Fork the branch develop on GitHub</a>, and start hacking. Then send in a pull request so that your awesome can become one with ElvenHut's awesome.</p>
      </section>
    </div>
    <div class="line-3">
      <section id="skills">
      <h1>Skills & Expertise</h1>
      <ol class="jellybean">
        <li> C </li>
        <li> C# </li>
        <li> Java </li>
        <li> Ruby </li>
        <li> Python </li>
        <li> SQL </li>
        <li> HTML </li>
        <li> CSS </li>
        <li> Objective-C </li>
        <li> Matlab </li>
        <li> Tex </li>
        <li> Machine Translation </li>
        <li> Natural Language Processing </li>
        <li> Machine Learning </li>
        <li> Data Mining </li>
        <li> Information Retrieval</li>
      </ol>
      </section>
    </div>
    <div class="line-4">
      <section id="interest">
      <h1>Interest</h1>
      <ol class="jellybean">
        <li> Japan Anime </li>
        <li> Programming </li>
        <li> FPS Games </li>
        <li> Dota </li>
        <li> J-Pop </li>
        <li> Melodic Death Metal </li>
        <li> Apple Products </li>
      </ol>
      </section>
    </div>
    <a name="followme"></a>
    <div class="line-5">
      <section id="internet-footprint">
      <h1>My Internet Footprint</h1>
      <p><a href="http://bangumi.tv/user/wyvernbai">Bangumi.tv</a> -- More than 200 japan anime watched. 2 or more episodes each night. Anime enriched my life.<br />
      <a href="http://www.xiami.com/u/2144204">Xiami.com</a> -- I really enjoy the feeling of coding while listening  to music. J-pop and Melodic Death Metal is my favorite.<br />
      <a href="https://github.com/wyvernbai">Github.com</a> -- Every programmer has one.<br />
      <a href="http://www.pixiv.net/member.php?id=4798189">Pixiv.net</a> -- Some cartoons drawings.
      </p>
      </section>
    </div>
  </div>
</div>
