<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-Hans" lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <title>Fenglong Xie's Homepage</title>
    <meta name="robots" content="all" />
    <meta name="author" content="lemaoliu">
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <link rel="stylesheet" type="text/css" href="/css/fenglong_xie.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39157716-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <script src="/javascripts/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="outline"></div>
    <div class="container">
  		<div id="content">
<div class="about">
  <div class="profile">
    <img src="/css/img/feng_long.jpg" width="350" alt>
    <div class="info">
      <div class="first-name">Fenglong</div>
      <div class="last-name">Xie</div>
      <p class="extra-info">PHD Candidate</p>
      <p class="extra-info">Speech Processing Lab</p>
      <p class="extra-info">School of Computer Science and Technology</p>
      <p class="extra-info">Harbin institute of Technology</p>
      <div class="label-inline">
        <div class="item">E-MAIL: </div> 
        <p>xiefenglong7825 AT gmail DOT com</p>
	<div class="item">Address: </div>
	<p>Microsoft Research Asia</p>
	<div class="item"> &nbsp; </div>
	<p>Building 2, No. 5 Dan Ling Street, Haidian District</p>
	<div class="item"> &nbsp; </div>
	<p>Beijing, P.R. China </p>
      </div>
    </div>
  </div>
  <div class="about-page">
    <div class="line-1">
      <h1>Education</h1>
	<li>2008.9 -- 2012.7: B.S. in Computer Science and Technology, School of Honor, Harbin Institute of Technology</li>
	<li>2012.9 -- Now: M.S. in Computer Science and Technology, School of Computer Science And Technology, Harbin Institute of Technology Supervisor:<a href="http://research.microsoft.com/en-us/people/frankkps/">Frank K.Soong</a> and Haifeng Li</li> 
    </div>
    <div class="line-2">
      <h1>Selected Honors</h1>
	<li>Winner of <b>MICROSOFT YOUNG FELLOWSHIP COMPETITION</b> (Only 30 candidates whose major is CS or EE related win the competition from top 10 universities of China)</li>
	<li>Outstanding Undergraduates in Hei-Longjiang Province (Accept Rate: 3%)</li>
    </div>
   <div class="line-3">
	<h1>Social practice and Work Experience</h1>
	<h2>Microsoft Research Asia, Speech Group (2013.06 -- Now)</h2>
	<p>I am an intern working on deep learning for acoustic modeling mainly for Speech Synthesis </p>
	<h2>Microsoft Research Asia, Speech Group (2012.01-2012-07)</h2>
	<p>I was hired as a research intern working on improving the result of Model clustering in HMM-based TTS</p>
  </div>

    <div class="line-4">
      <section>
      <h1>Projects and Publications</h1>
	<li>National Student Technology Innovation Project: <b>CLOUD-BASED MOBILE PHONE PLATFORM</b> </li>
	<li>Feng-Long Xie, Yi-Jian Wu, Frank K.Soong. Cross Validation and Minimum Generation Error for improved model clustering in HMM-based TTS. ISCSLP 2012.<a href="/06423459.pdf">[pdf]</a></li>
      </section>
    </div>
    <div class="line-6">
      <section id="skills">
      <h1>Mastered Technology and Research Interests</h1>
      <ol class="jellybean">
       	<li> Speech Processing</li>
        <li> Speech Recognition </li>
        <li> Speech Synthesis </li>
        <li> Deep Learning  </li>
        <li> C++ </li>
        <li> Perl </li>
        <li> Matlab </li>
        <li> HTK </li>
      </ol>
      </section>
    </div>
<!--
    <div class="line-5">
      <section id="internet-footprint">
      <h1>Downloads</h1>
      <p><a href="/download1">Parser</a> - parser.<br />
      <a href="http://www.pixiv.net/member.php?id=4798189">SVM</a> - write something.
      </p>
      </section>
    </div>
-->
  </div>
</div>
  		</div>
    </div>
  </body>
</html>
