<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-Hans" lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <title>Yalong Bai's Homepage</title>
    <meta name="robots" content="all" />
    <meta name="author" content="Yalong Bai">
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <link rel="stylesheet" type="text/css" href="/css/lemaoliu.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39157716-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <script src="/javascripts/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="outline"></div>
    <div class="container">
  		<div id="content">
<div class="about">
  <div class="profile">
    <img src="/css/img/ylbai.jpg" width="350" alt>
    <div class="info">
      <div class="first-name">Yalong</div>
      <div class="last-name">Bai</div>
      <p class="extra-info">Ph.D. Student</p>
      <p class="extra-info">Machine Intelligence & Translation Lab</p>
      <p class="extra-info">School of Computer Science and Technology</p>
      <p class="extra-info">Harbin institute of Technology</p>
      <div class="label-inline">
        <div class="item">E-MAIL: </div> 
        <p>ylbai AT outlook DOT com</p>
	<div class="item">Address: </div>
	<p>Microsoft Research Asia</p>
	<div class="item"> &nbsp; </div>
	<p>Building 2, No. 5 Dan Ling Street, Haidian District</p>
	<div class="item"> &nbsp; </div>
	<p>Beijing, P.R. China </p>
      </div>
    </div>
  </div>
  <div class="about-page">
    <div class="line-1">
      <h1>Education</h1>
	<li>2008.8 -- 2012.7: B.S. in Computer Science and Technology, School of Computer Science And Technology, Harbin Institute of Technology</li>
	<li>2012.8 -- 2014.7: M.S. in Computer Science and Technology, School of Computer Science And Technology, Harbin Institute of Technology. Supervisor: Tiejun Zhao</li> 
    <li>2014.8 -- now: Joint education Ph.D. of Microsoft Research Asia and Harbin Institute of Technology. My Ph.D. supervisor is <a href="http://research.microsoft.com/en-us/people/wyma/">Wei-Ying Ma</a> and Tiejun Zhao</li>
    </div>
    <div class="line-2">
      <h1>Selected Honors</h1>
	<li>First Place in MSR-Bing Image Retreival Challenge at ACM MM 2014.</li>
    </div>
   <div class="line-3">
	<h1>Social practice and Work Experience</h1>
	<h2>Microsoft Research Asia, Web Search and Mining Group (2013.06 -- Now)</h2>
	<p>I am an intern working on deep learning for image representation and computer vision. </p>
	<h2>Microsoft Research Asia, Web Search and Data Mining Group (2012.01-2012-07)</h2>
    <p>I was hired as a research intern working on document retrieval results re-ranking.</p>
  </div>

    <div class="line-4">
      <section>
      <h1>Publications</h1>
          <li>Chang Xu, Yalong Bai, Jiang Bian, Bin Gao, Gang Wang, Xiaoguang Liu, Tie-Yan Liu. A General Method for Incorporating Knowledge into Word Representations. Accepted by CIKM, 2014</li>
          <li>Yalong Bai, Wei Yu, Chang Xu, Kuiyuan Yang, Wei-Ying Ma, Tiejun Zhao. Bag-of-Words Based Deep Neural Network for Image Retrieval. Short Paper. Accpted by MM, 2014</li>
          <li>Wei Yu, Kuiyuan Yang, Yalong Bai, Hongxun Yao, Yong Rui. DNN Flow: DNN feature pyramid based image matching. BMVC, 2014.</li>
          <li>Yalong Bai, Kuiyuan Yang, Wei Yu, Wei-Ying Ma, Tiejun Zhao. Learning High-level Image Representation for Image Retrieval via Multi-Task DNN using Clickthrough Data. ICLR, 2013.</li>
      <li>Mo Yu, Tiejun Zhao and Yalong Bai, Hao Tian, Dianhai Yu. Cross-lingual Projections between Languages from different Families. ACL2013 short paper. </li>
      <li>Mo Yu, Tiejun Zhao, Yalong Bai. Learning Domain Differences Automatically for Dependency Parsing Adaptation. IJCAI 2013 poster.</li>
      </section>
<!--
    <div class="line-5">
      <section id="internet-footprint">
      <h1>Downloads</h1>
      <p><a href="/download1">Parser</a> - parser.<br />
      <a href="http://www.pixiv.net/member.php?id=4798189">SVM</a> - write something.
      </p>
      </section>
    </div>
-->
  </div>
</div>
  		</div>
    </div>
  </body>
</html>
