<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-Hans" lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <title>Mo Yu's Homepage</title>
    <meta name="robots" content="all" />
    <meta name="author" content="Yumo">
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <link rel="stylesheet" type="text/css" href="/css/yumo.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39157716-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <script src="/javascripts/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="outline"></div>
    <div class="container">
  		<div id="content">
<div class="about">
  <div class="profile">
    <img src="/css/img/yumo.jpg" width="350" alt>
    <div class="info">
      <div class="first-name">Mo</div>
      <div class="last-name">Yu</div>
      <p class="extra-info">Ph.D. Student</p>
      <p class="extra-info">Machine Intelligence & Translation Lab</p>
      <p class="extra-info">School of Computer Science and Technology</p>
      <p class="extra-info">Harbin institute of Technology</p>
      <div class="label-inline">
        <div class="item">E-MAIL: </div>
        <p>yumo AT mtlab DOT edu DOT cn</p>
      </div>
    </div>
  </div>
  <div class="about-page">
    <div class="line-1">
      <h1>Education</h1>
      	   <li>2005.8 to 2009.7: B.S. in Computer Science and Technology, School of Honor, Harbin Institute of Technology.</li>
	   <li>2009.9 to 2011.7: M.S. in Computer Science and Technology, School of Computer Science and Technology, Harbin Institute of Technology. Supervisor: Tie-Jun Zhao</li>
	    <li>2011.9 until now: Ph.D. in Computer Science and Technology, School of Computer Science and Technology, Harbin Institute of Technology. Supervisor: Tie-Jun Zhao</li>
    </div>
    <div class="line-2">
        <h1>internship and Work Experiences </h1>
    <h2>•   The Center for Language and Speech Processing, Johns Hopkins University (2013.12 until now) </h2>
    <p> Now I am a joint PhD. Student at JHU working on learning structured representations for NLP. My advisor is Prof. Mark Dredze.</p>
 	<h2>•	Baidu Inc., Natural Language Processing Group (2013.7-2013.12)</h2>
    <p>I was a research intern working on Dependency Parsing, learning of syntactic representations and online learning algorithms for problems with structured predictions. Some of my work was advised by Prof. Tong Zhang.</p>
    <h2>•	Baidu Inc., Natural Language Processing Group (2012.5-2013.6)</h2>
	<p>I was a research intern working on Deep Learning of NLP. I’ve got the “excellent intern” award in December 2012.</p>
 	<h2>•	Microsoft Research Asia, Natural Language Computing Group (2010.08 to 2010.12)</h2>
	<p>I was hired as an intern to work on twitter sentiment analysis instructed by Long Jiang.</p>
	<h2>•	Microsoft Research Asia, Web Search & Mining Group (2008.12 to 2009.8)</h2>
	<p>I was hired as an intern to work on intelligent advertising and re-ranking of the results of image retrieval, instructed by Dr. Xin-Jing Wang. My work got me the “excellent certification”.</p>
    </div>
   	<div class="line-3">
		<h1>Research interests</h1>
		<p>Now I am mainly interested in machine learning, syntactic parsing and their applications.</p>
        <h2>•	Learning Representations for NLP Problems</h2>
        <h3>Learning of syntactic representations</h3>
        <p> Working on learning and applications of word representations and structured representations with syntactic information.</p>
        </details>
        <h3>Learning of word embedding and its applications</h3>
		<p> Working on learning strategies of word embeddings. Applied word embeddings to NER, Chinese POS-tagging as well as cross-lingual projection tasks.</p>
        <h2>•	Syntactic Parsing and its applications</h2>
        <h3>Online learning for dependency parsing </h3>
        <p>Improving the online learning algorithms and distributed online learning algorithms for dependency parsing. </p>
		<h3>Domain adaptation for dependency parsing</h3>
		<p>Analyzed the performances of graph-based and transition-based dependency parsers and domain differences of dependency parsing. Researched on domain adaptation methods for dependency parsing.</p>
		<h3>Target-dependent and Context-based Sentiment Analysis</h3>
		<p>Researched on target-dependent (based on information from dependency parsing) and context-based (based on conditional random fields) sentiment analysis for tweets.</p>
		<h2>•	Machine Learning and its Applications to NLP</h2>
        <h3>Online learning and its applications to NLP</h3>
        <p> </p>
        <h3>Semi-supervised learning and its applications to NLP</h3>
		<p>Extended semi-supervised learning methods (e.g. co-training and label propagation) to handle problems with structured predictions and applied the methods to cross-lingual projection and other NLP tasks. Carried out theoretical analysis on the experimental results. </p>
		<h2>•	Image Retrieval</h2>
		<h3>Re-ranking of results of image retrieval based on Dirichlet Processes (DP)</h3>
		<p>Learned the principle of DP and worked on image clustering using DP with multi-views (textual and visual information) and its application to image search re-ranking.</p>
		<h3>Advertising based on users’ photo collections</h3>
		<p>Extracted topics from images based on the results of image annotation and surrounding texts of the image. Match the images with adverts based on the topic space.</p>
	</div>
    <div class="line-4">
      <section>
      <h1>Publications </h1>
	<h3><strong>Learning representations for NLP tasks: </strong></h3>
    <li>Mo Yu, Mark Dredze. Improving Lexical Embeddings with Semantic Knowledge. Association for Computational Linguistics (ACL), 2014 short (accepted). <a title="Local PDF" href="/Improving Lexical Embeddings with Semantic Knowledge.pdf"> [pdf] </a> <a href="https://github.com/Gorov/JointRCM"> [code & data] </a> </li>
	<li>Mo Yu, Tiejun Zhao and Yalong Bai, Hao Tian, Dianhai Yu. Cross-lingual Projections between Languages from different Families. ACL2013 short paper. <a title="Local PDF" href="/acl2013.pdf"> [pdf] </a> </li>
	<li>Mo Yu, Tiejun Zhao, Daxiang Dong, Hao Tian, Dianhai Yu: Compound Embedding Features for Semi-supervised Learning. NAACL 2013 short paper. <a title="Local PDF" href="/naaclhlt2013-embedding-final.pdf"> [pdf] </a> </li>
	<h3><b>Syntactic parsing and its applications:</b></h3>
	<li>Mo Yu, Tiejun Zhao, Yalong Bai. Learning Domain Differences Automatically for Dependency Parsing Adaptation. IJCAI 2013 poster. <a title="Local PDF" href="/ijcai13.pdf"> [pdf] </a></li>
	<li>Long Jiang, Mo Yu, Ming Zhou, Xiaohua Liu, Tiejun Zhao: Target-dependent Twitter Sentiment Classification. ACL 2011: 151-160</li>
	<li>Zhen Li, Hanjing Li, Mo Yu, Tiejun Zhao, Sheng Li: Event Entailment Extraction Based on EM Iteration. IALP 2010: 101-104</li>
	<h3><b>Machine learning and its applications on NLP:</b></h3>
    <li>Mo Yu, Tiejun Zhao, Penglong Hu. A Theoretical Analysis on Structured Learning with Noisy Data and its Applications. Journal of Software. 2013 (In Chinese). <a title="Local PDF" href="/cf019-final-word2003.pdf"> [pdf] </a> </li>
	<li>Lemao Liu, Hailong Cao, Taro Watanabe, Tiejun Zhao, Mo Yu, Conghui Zhu. Locally Training the Log-Linear Model for SMT. EMNLP-CoNLL 2012.</li>
	<li>Huashen Liang, Lemao Liu, Mo Yu, Yupeng Liu, Penglong Hu, Tingting Li, Chunyue Zhang, Hailong Cao, Tiejun Zhao. Technique reports of HIT-Machine Intelligence & Translation Lab for CWMT2011 (In Chinese)</li>
	<li>Mo Yu, Shu Wang, Conghui Zhu, Tiejun Zhao: Semi-supervised learning for word sense disambiguation using parallel corpora. FSKD 2011: 1490-1494</li>
	<li>PengLong Hu, Mo Yu, Jing Li, Conghui Zhu, Tiejun Zhao: Semi-supervised Learning Framework for Cross-Lingual Projection. Web Intelligence/IAT Workshops 2011: 213-216</li>
	<li>Han Xi-Wu, Yu Mo, Zhu Cong-Hui, and Zhao Tie-Jun. A Sequence Kernel Method for Chinese Subcategorization Analysis. Chinese Journal of Electronics. Vol.19, No.3, July 2010.</li>
	<li>Cong-Hui Zhu, Mo Yu, Tie-Jun Zhao. Chinese Word Segmenter Based on Discriminative Classifiers Integration. Journal of Computational Information Systems3:5(2008) 1-7</li>
	<h3><b>Image retrieval</b></h3>
	<li>Yu-Heng Ren, Mo Yu, Xin-Jing Wang, Lei Zhang, Wei-Ying Ma, Diversifying Landmark Image Search Results by Learning Interested Views from Community Photos. WWW2010 Proceedings</li>
	<li>Xin-Jing Wang, Mo Yu, Lei Zhang, Wei-Ying Ma, Argo: Intelligent Advertising Made Possible from Users’ Photos (demo paper). ACM MM09 Proceedings.</li>
	<li>Xin-Jing Wang, Mo Yu, Lei Zhang, Wei-Ying Ma. Advertising based on users’ photos. IEEE ICME 2009 workshop.</li>
	<li>Xin-Jing Wang, Mo Yu, Lei Zhang, Rui Cai, Wei-Ying Ma. Argo: Intelligent Advertising by Mining a User’s Interest from His Photo Collections. ADKDD’09, June 28, 2009</li>

      </section>
    </div>
    <div class="line-5">
      <section>
      <h1>Research Proposal & Funding </h1>
I’ve written a proposal with my advisor to Natural Science Foundation of China with the subject “Cross-lingual projection based on semi-supervised structured learning” and got funding (NSFC: 61173073) in the year 2012. Now I’m taking charge of works related to the funding in my lab.
	</section>
	</div>
    <div class="line-6">
      <section id="skills">
      <h1>Skills & Expertise</h1>
      <ol class="jellybean">
        <li> Machine Learning </li>
        <li> Natural Language Processing </li>
        <li> Deep Learning </li>
        <li> Semantic Similarity </li>
        <li> Cross-lingual Projection </li>
        <li> Sentiment Analysis </li>
        <li> Named Entity Recognition </li>
        <li> Online Learning </li>
        <li> Domain Adaptation </li>
        <li> Dependency Parsing </li>
        <li> Machine Translation </li>
        <li> Information Retrieval</li>
        <li> C/C++ </li>
        <li> C# </li>
        <li> perl </li>
        <li> java </li>
        <li> python </li>
        <li> matlab </li>
      </ol>
      </section>
    </div>
<!--
    <div class="line-5">
      <section id="internet-footprint">
      <h1>Downloads</h1>
      <p><a href="/download1">Parser</a> - parser.<br />
      <a href="http://www.pixiv.net/member.php?id=4798189">SVM</a> - write something.
      </p>
      </section>
    </div>
-->
  </div>
</div>
  		</div>
    </div>
  </body>
</html>
