html, body {
  height: 100%;
}

body {
  background: rgba(78, 68, 60, 0.75) url(/css/img/homepage_bg.png);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  /*fa453c
  background: url(/css/img/outline.png) top repeat-x;
   */
}

header[role="banner"] {
    background: #000 url('/css/img/homepage_header.jpg') repeat -100% -100%;
    font-family: sans-serif;
    padding: 34px 0 0;
    z-index: 9;
}

.outline {
  /*rgb(0, 198, 255);fa453c;#00c6ff;e9573f
   */
  border-top: 3px solid #00c6ff;
}

.container {
  font-family: 'Source Sans Pro', Arial,sans-serif;
  /*font-family: "BigNoodleTitling", Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  min-width: 1280px;
  height: 100%;
}

#wrap{
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100%;
  width: 1020px;
}

.cont-div {
  background: url(/css/img/cont-div-3.png);
  height: 5px;
  position: relative;
  top: -5px;
  width: 100%;
}

#headline {
  overflow: hidden;
  height: auto;
  margin: 0 auto;
  width: 1200px;
}

footer {
  width: 100%;
  margin: auto;
  padding: 0;
  height: 5px;
  background: url(/css/img/footer-bg.png) repeat-x;
}

.adidas-halfwidth {
  width: 420px;
  height: 140px;
  background: url(/css/img/threestripe-white.png) repeat-x center;
  float: left;
}

#logo {
  margin-top:20px;
  width: 310px;
  height: auto;
  float: left;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo a h1 {
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 35px;
  text-transform: uppercase;
}

#logo a h4 {
  font-family: 'Terminal Dosis', Arial, sans-serif;
  color: rgb(201,201,201);
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: -6px;
}

#logo a h1 em {
  font-size: 22px;
  font-style:normal;
  font-weight: 100;
}

.aboutwrapper {
  width: 100%;
  margin: auto;
  padding: 0;
  min-height: 409px;
  height: auto;
  /*background: url(/css/img/br-tabs-hr.png) repeat-x top;
   */
}

.info {
  width: 330px;
  height: 199px;
  float: left;
}

.info .qr_code {
  width: 330px;
  height: 184px;
  margin-top: 15px;
  margin-left: 50px;
  float: left;
  background: url(/css/img/qr.png) no-repeat;
}

.info .self_photo {
  width: 330px;
  height: 199px;
  float: left;
  background: url(/css/img/selfphoto.png) no-repeat;	
}

.about {
  /*width: 620px;*/
  width: 100%;
  float: right;
  min-height: 331px;
  height: auto;
  margin-top: 25px;
}

.about .top {
  /*width: 620px;*/
  width: 100%;
  height: 170px;
  float: left;
  background: url(/css/img/br-tabs-hr.png) repeat-x bottom;
}

.about .bottom{
  width: 100%;
  height: 146px;
  float: left;
  margin-top: 15px;
}

.about section {
  width: 330px;
  height: 130px;
  float: left;
  padding-top: 15px;
  margin-left: 15px;
}

.about section.first {
  margin-left: 0px;
  background: url(/css/img/br-tabs-vr.png) right repeat-y;
}

.about section.second {
  background: url(/css/img/br-tabs-vr.png) right repeat-y;
}

.about section#legal-stuff {
  float: right;
}

#recent-post-icon {
  width: 43px;
  height: 42px;
  float: left;
  margin: -5px 10px 0 0;
  background: url(/css/img/page.png) no-repeat center;
}

#what-i-do-icon {
  width: 43px;
  height: 42px;
  float: left;
  margin: -5px 10px 0 0;
  background: url(/css/img/process.png) no-repeat center;
}

#who-am-i-icon {
  width: 43px;
  height: 42px;
  float: left;
  margin: -5px 10px 0 0;
  background: url(/css/img/info.png) no-repeat center;
}

#get-connected-icon {
  width: 43px;
  height: 42px;
  float: left;
  margin: -5px 10px 0 0;
  background: url(/css/img/email.png) no-repeat center;
}

#legal-stuff-icon {
  width: 43px;
  height: 42px;
  float: left;
  margin: -5px 10px 0 0;
  background: url(/css/img/umbrella.png) no-repeat center;
}

.about section h1 {
  letter-spacing: 1px;
  font-family: 'Terminal Dosis', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #383838;
}

.about ul img {
  margin-right: 10px;
}

.about ul {
  margin-top: 10px;
  margin-left: 53px;
  overflow: hidden;
}

.about ul li {
	font-family: 'Source Sans Pro',  "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif; 
  height: 22px;
  font-size: 14px;
}

.about ul#ticker {
  height:88px;
}

.about ul#ticker li a{
  display: inline-block;
  width: 270px;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.about li em.email {
  font-size: 11px;
}

.about li em.address {
  margin-right: 16px
}

.about li em {
  margin-right: 10px;
  font-size: 15px;
  font-style: normal;
  color: #000;
  font-family: 'WebSymbolsRegular', cursive;
}

.about li, .about p {
  list-style: none;
  line-height: 22px;
  background-position: 0.1em;
  line-height: 22px;
  font-size: 12px;
  color: rgb(102,102,102);
  text-shadow: 0px 1px 0px #fff;
  text-decoration: none;
}

.about a {
  text-decoration: none;
  color: rgb(102,102,102);
}

.about a:hover {
  color: #00c6ff;
}

@font-face {
  font-family: 'Terminal Dosis';
  src:url("font/TerminalDosis/Terminal_Dosis-Book.otf") format("opentype");/*
  src:url("font/TerminalDosis/Terminal_Dosis-Book.eot");
  src:url("font/TerminalDosis/Terminal_Dosis-Book.ttf") format("truetype");*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Niconne';
  src:url("font/niconne/Niconne-Regular.eot");
  src:url("font/niconne/Niconne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  src:url("font/sortsMillGoudy/OFLGoudyStM.otf") format("opentype");
}

@font-face {
  font-family: 'Source Sans Pro';
  src:url("font/SourceSansPro/SourceSansPro-Regular.eot");
  src:url("font/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}
